go-eCharger_NodeRed_Controller.json
[
    {
        "id": "7f238379090da3b0",
        "type": "tab",
        "label": "go-eCharger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "12fbad89a6c2acc9",
        "type": "inject",
        "z": "7f238379090da3b0",
        "name": "Charge Control",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "2b59ae34bd5fe3d7"
            ]
        ]
    },
    {
        "id": "abeafa1098dbbe39",
        "type": "http request",
        "z": "7f238379090da3b0",
        "name": "/api/status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://lemmy2:5080/api/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 700,
        "wires": [
            [
                "e8e1c0ab90502d46",
                "99e747b49d27367f"
            ]
        ]
    },
    {
        "id": "d23b9749877b28ec",
        "type": "comment",
        "z": "7f238379090da3b0",
        "name": "https://github.com/goecharger/go-eCharger-API-v2/blob/main/apikeys-de.md",
        "info": "",
        "x": 350,
        "y": 620,
        "wires": []
    },
    {
        "id": "aad26db58801ddcc",
        "type": "link in",
        "z": "7f238379090da3b0",
        "name": "Receive Enphase Raw Data",
        "links": [
            "3602cfb264d30dd5"
        ],
        "x": 385,
        "y": 260,
        "wires": [
            [
                "7c968632a94bf22e"
            ]
        ]
    },
    {
        "id": "ae8274624b4eaea7",
        "type": "comment",
        "z": "7f238379090da3b0",
        "name": "Enphase Monitor",
        "info": "",
        "x": 250,
        "y": 140,
        "wires": []
    },
    {
        "id": "6ea6f50351466fb9",
        "type": "function",
        "z": "7f238379090da3b0",
        "d": true,
        "name": "Parse Enphase Message",
        "func": "// fetch state from flow context\nlet pvPowerValues = flow.get(\"pvPowerValues\")\nlet consumptionValues = flow.get(\"consumptionValues\")\n\n// fetch values from payload\nconst newPvPowerValue = msg.payload.production[\"ph-a\"].p\n                      + msg.payload.production[\"ph-b\"].p\n                      + msg.payload.production[\"ph-c\"].p;\n\nconst newConsumptionValue = msg.payload[\"total-consumption\"][\"ph-a\"].p\n                          + msg.payload[\"total-consumption\"][\"ph-b\"].p\n                          + msg.payload[\"total-consumption\"][\"ph-c\"].p;\n\n// prepend new value to array\npvPowerValues.unshift(newPvPowerValue)\nconsumptionValues.unshift(newConsumptionValue)\n\n// array housekeepting\nlet maxArraySize = 60 // in s\n\nif (pvPowerValues.length > maxArraySize) {\n    pvPowerValues.pop()\n}\n\nif(consumptionValues.length > maxArraySize) {\n    consumptionValues.pop()\n}\n\n// calculate average values\nconst average = arr => arr.reduce((p, c) => p + c, 0) / arr.length;\n\nmsg.avgPvPower = average(pvPowerValues);\nmsg.avgConsumption = average(consumptionValues);\n\nnode.status({ fill: \"green\", shape: \"ring\", text: \"Avg PvPower: \" + msg.avgPvPower + \", Avg Consumption: \" + msg.avgConsumption });\n\n// store new values to flow context\nflow.set(\"pvPowerValues\", pvPowerValues)\nflow.set(\"consumptionValues\", consumptionValues)\n\nflow.set(\"avgPvPower\", msg.avgPvPower)\nflow.set(\"avgConsumption\", msg.avgConsumption)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"pvPowerValues\", [])\nflow.set(\"consumptionValues\", [])\n\nflow.set(\"avgPvPower\", 0)\nflow.set(\"avgConsumption\", 0)",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3736352cc1296d90",
        "type": "inject",
        "z": "7f238379090da3b0",
        "name": "Simulate Enphase Message",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"production\": {         \"ph-a\": {             \"p\": -2.774,             \"q\": 131.02,             \"s\": 135.442,             \"v\": 238.637,             \"i\": 0.568,             \"pf\": 0,             \"f\": 50.12         },         \"ph-b\": {             \"p\": -2.808,             \"q\": 143.869,             \"s\": 143.869,             \"v\": 238.869,             \"i\": 0.602,             \"pf\": 0,             \"f\": 50.12         },         \"ph-c\": {             \"p\": -3.827,             \"q\": 146.98,             \"s\": 151.431,             \"v\": 238.228,             \"i\": 0.635,             \"pf\": -0.04,             \"f\": 50.12         }     },     \"net-consumption\": {         \"ph-a\": {             \"p\": 434.726,             \"q\": -130.421,             \"s\": 534,             \"v\": 238.928,             \"i\": 2.236,             \"pf\": 0.82,             \"f\": 50.12         },         \"ph-b\": {             \"p\": 59.933,             \"q\": -161.005,             \"s\": 168.019,             \"v\": 238.86,             \"i\": 0.704,             \"pf\": 0.32,             \"f\": 50.12         },         \"ph-c\": {             \"p\": 24.997,             \"q\": -179.517,             \"s\": 197.466,             \"v\": 238.398,             \"i\": 0.828,             \"pf\": 0.11,             \"f\": 50.12         }     },     \"total-consumption\": {         \"ph-a\": {             \"p\": 431.952,             \"q\": -261.441,             \"s\": 669.504,             \"v\": 238.782,             \"i\": 2.804,             \"pf\": 0.65,             \"f\": 50.12         },         \"ph-b\": {             \"p\": 57.125,             \"q\": -304.874,             \"s\": 311.809,             \"v\": 238.864,             \"i\": 1.305,             \"pf\": 0.18,             \"f\": 50.12         },         \"ph-c\": {             \"p\": 21.17,             \"q\": -326.497,             \"s\": 348.747,             \"v\": 238.313,             \"i\": 1.463,             \"pf\": 0.06,             \"f\": 50.12         }     } }",
        "payloadType": "json",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "6ea6f50351466fb9",
                "7c968632a94bf22e"
            ]
        ]
    },
    {
        "id": "77c05377fc1ee1f2",
        "type": "http request",
        "z": "7f238379090da3b0",
        "name": "/api/set",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://lemmy2:5080/api/set",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1700,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "2ab4b97a56ab922d",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Show Commands",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 2060,
        "wires": []
    },
    {
        "id": "0ddf3866962da9d1",
        "type": "inject",
        "z": "7f238379090da3b0",
        "name": "Start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 770,
        "y": 1900,
        "wires": [
            [
                "508ca3181197c560"
            ]
        ]
    },
    {
        "id": "89c5dde840afa8ac",
        "type": "inject",
        "z": "7f238379090da3b0",
        "name": "Stop",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 770,
        "y": 1960,
        "wires": [
            [
                "0d07a958b387fbe2"
            ]
        ]
    },
    {
        "id": "f4645d1940ee65a4",
        "type": "inject",
        "z": "7f238379090da3b0",
        "name": "Disable Charging",
        "props": [
            {
                "p": "chargeMode",
                "v": "off",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 720,
        "y": 1660,
        "wires": [
            [
                "172291b267e64546"
            ]
        ]
    },
    {
        "id": "32142ce2a0e13520",
        "type": "inject",
        "z": "7f238379090da3b0",
        "name": "Set Sun Mode",
        "props": [
            {
                "p": "chargeMode",
                "v": "sun",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 730,
        "y": 1780,
        "wires": [
            [
                "172291b267e64546"
            ]
        ]
    },
    {
        "id": "d0c713ab578019d1",
        "type": "inject",
        "z": "7f238379090da3b0",
        "name": "Set Eco Mode",
        "props": [
            {
                "p": "chargeMode",
                "v": "eco",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 720,
        "y": 1740,
        "wires": [
            [
                "172291b267e64546"
            ]
        ]
    },
    {
        "id": "172291b267e64546",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Set flow.chargeMode",
        "rules": [
            {
                "t": "set",
                "p": "chargeMode",
                "pt": "flow",
                "to": "chargeMode",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1720,
        "wires": [
            [
                "237f0e77d00e8430"
            ]
        ]
    },
    {
        "id": "a2e4e6f9ef184ac3",
        "type": "comment",
        "z": "7f238379090da3b0",
        "name": "Set Charge Mode",
        "info": "",
        "x": 720,
        "y": 1620,
        "wires": []
    },
    {
        "id": "237f0e77d00e8430",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Charge Mode",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "chargeMode",
        "targetType": "msg",
        "statusVal": "chargeMode",
        "statusType": "msg",
        "x": 1220,
        "y": 1720,
        "wires": []
    },
    {
        "id": "f7f3498beec89f60",
        "type": "inject",
        "z": "7f238379090da3b0",
        "name": "Set Fast Mode",
        "props": [
            {
                "p": "chargeMode",
                "v": "fast",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 720,
        "y": 1700,
        "wires": [
            [
                "172291b267e64546"
            ]
        ]
    },
    {
        "id": "56ddf2cb89285cfb",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Car Allowed to Charge",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.alw",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "allowed2Charge",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "allowed2Charge",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1040,
        "wires": [
            [
                "17d65e7fd4bde17b"
            ]
        ]
    },
    {
        "id": "17d65e7fd4bde17b",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Car Allowed to Charge",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.alw",
        "statusType": "auto",
        "x": 1220,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4b25545a03b70033",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "filter alw",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.alw",
        "topi": "topic",
        "x": 740,
        "y": 1040,
        "wires": [
            [
                "56ddf2cb89285cfb"
            ]
        ]
    },
    {
        "id": "241885f9b9d571b5",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Charge Current",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.amp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chargeCurrent",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "chargeCurrent",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1100,
        "wires": [
            [
                "80d437c03212d5b9"
            ]
        ]
    },
    {
        "id": "4bf0dc55c67f6bb6",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "filter amp",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.amp",
        "topi": "topic",
        "x": 740,
        "y": 1100,
        "wires": [
            [
                "241885f9b9d571b5"
            ]
        ]
    },
    {
        "id": "80d437c03212d5b9",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Charge Current",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.alw",
        "statusType": "auto",
        "x": 1200,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ab06b49095e88274",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Charge Power",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.nrg[11]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chargePower",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "chargePower",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 980,
        "wires": [
            [
                "b86b3e38614fa44b"
            ]
        ]
    },
    {
        "id": "0a1a0c9a58861e39",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "filter nrg[11]",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.nrg[11]",
        "topi": "topic",
        "x": 750,
        "y": 980,
        "wires": [
            [
                "ab06b49095e88274"
            ]
        ]
    },
    {
        "id": "b86b3e38614fa44b",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Charge Power",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.alw",
        "statusType": "auto",
        "x": 1200,
        "y": 980,
        "wires": []
    },
    {
        "id": "4d851e277cad6960",
        "type": "switch",
        "z": "7f238379090da3b0",
        "name": "Check Car State",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 960,
        "y": 700,
        "wires": [
            [
                "3b15b9991510cf02"
            ],
            [
                "5c1796400b79a753"
            ],
            [
                "13844a57b33ad87e"
            ],
            [
                "fef13efbef4be4a7"
            ],
            [
                "45cc319b2dd0c96a"
            ]
        ]
    },
    {
        "id": "45cc319b2dd0c96a",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 950,
        "y": 780,
        "wires": []
    },
    {
        "id": "3b15b9991510cf02",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "1: Idle",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 1170,
        "y": 620,
        "wires": []
    },
    {
        "id": "5c1796400b79a753",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "2: Charging",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 1190,
        "y": 680,
        "wires": []
    },
    {
        "id": "13844a57b33ad87e",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "3: Wait for Car",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 1200,
        "y": 740,
        "wires": []
    },
    {
        "id": "fef13efbef4be4a7",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "4: Complete",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 1190,
        "y": 800,
        "wires": []
    },
    {
        "id": "b9a616e09a519abb",
        "type": "smooth",
        "z": "7f238379090da3b0",
        "name": "Average per Topic",
        "property": "payload",
        "action": "mean",
        "count": "60",
        "round": "1",
        "mult": "multi",
        "reduce": true,
        "x": 960,
        "y": 240,
        "wires": [
            [
                "469e636acdd78326"
            ]
        ]
    },
    {
        "id": "512d67a351bbe98a",
        "type": "function",
        "z": "7f238379090da3b0",
        "name": "Time of last update",
        "func": "flow.set(\"lastEnvoyUpdate\", msg.time);\n\nlet now = new Date(msg.time);\nnode.status({ fill: \"green\", shape: \"ring\", text: \"Last update: \" + now.toLocaleString(\"de-DE\") });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fa9bec7af853ca1f",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "filter car",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.car",
        "topi": "topic",
        "x": 740,
        "y": 700,
        "wires": [
            [
                "3cd9e6847116fc5f"
            ]
        ]
    },
    {
        "id": "e52ca0559bce6ca3",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "filter cbl",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.cbl",
        "topi": "topic",
        "x": 740,
        "y": 1160,
        "wires": [
            [
                "0ba0eeaa20b63f8a"
            ]
        ]
    },
    {
        "id": "0ba0eeaa20b63f8a",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Cable Current Limit",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.cbl",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cableCurrentLimit",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "cableCurrentLimit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1160,
        "wires": [
            [
                "e1f790f0af03f01c"
            ]
        ]
    },
    {
        "id": "e1f790f0af03f01c",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Cable Current Limit",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.alw",
        "statusType": "auto",
        "x": 1210,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2116b6e552040ca9",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Preserve go-e Status",
        "rules": [
            {
                "t": "set",
                "p": "goe",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "enphase",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1240,
        "wires": [
            [
                "4b25545a03b70033",
                "4bf0dc55c67f6bb6",
                "0a1a0c9a58861e39",
                "fa9bec7af853ca1f",
                "e52ca0559bce6ca3",
                "58a4fcf600189047",
                "b93d780f594ed608",
                "5cfc6fd428f789b1",
                "623303aedb2f588b",
                "00e67779ea8b5e35",
                "85a3f1e9855674b5",
                "ccaa29ef0f792afb"
            ]
        ]
    },
    {
        "id": "807541f8e0c9d12f",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "filter pha",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.pha",
        "topi": "topic",
        "x": 740,
        "y": 860,
        "wires": [
            [
                "d598e31b7968642a"
            ]
        ]
    },
    {
        "id": "99e747b49d27367f",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Count Active Phases",
        "rules": [
            {
                "t": "set",
                "p": "payload.pha",
                "pt": "msg",
                "to": "(\t    $countActive := function($acc, $obj){$obj ? $acc + 1 : $acc};\t    $reduce(payload.pha[[0,1,2]], $countActive, 0)\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1000,
        "wires": [
            [
                "807541f8e0c9d12f",
                "1b6aed5b91a69387"
            ]
        ]
    },
    {
        "id": "d598e31b7968642a",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Active Phases",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pha",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "activePhases",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "activePhases",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 860,
        "wires": [
            [
                "b0947bf194770bf2"
            ]
        ]
    },
    {
        "id": "b0947bf194770bf2",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Active Phases",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.alw",
        "statusType": "auto",
        "x": 1200,
        "y": 860,
        "wires": []
    },
    {
        "id": "e8e1c0ab90502d46",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Monitor Raw Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "1b6aed5b91a69387",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Count Charging Phases",
        "rules": [
            {
                "t": "set",
                "p": "payload.nrg_pha",
                "pt": "msg",
                "to": "(\t    $countCharging := function($acc, $obj){$obj > 1 ? $acc + 1 : $acc};\t    $reduce(payload.nrg[[4,5,6]], $countCharging, 0)\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "29821485753971be",
                "2116b6e552040ca9"
            ]
        ]
    },
    {
        "id": "29821485753971be",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "filter nrg",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.nrg_pha",
        "topi": "topic",
        "x": 740,
        "y": 920,
        "wires": [
            [
                "fe19d31bf0424b95"
            ]
        ]
    },
    {
        "id": "fe19d31bf0424b95",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Charging Phases",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.nrg_pha",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chargingPhases",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "chargingPhases",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 920,
        "wires": [
            [
                "589bdfcd0fa8f297"
            ]
        ]
    },
    {
        "id": "589bdfcd0fa8f297",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Charging Phases",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.alw",
        "statusType": "auto",
        "x": 1210,
        "y": 920,
        "wires": []
    },
    {
        "id": "58a4fcf600189047",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "filter mca",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.mca",
        "topi": "topic",
        "x": 740,
        "y": 1220,
        "wires": [
            [
                "c0a753ee1e98bf27"
            ]
        ]
    },
    {
        "id": "c0a753ee1e98bf27",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Min Charge Current",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mca",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "minChargeCurrent",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "minChargeCurrent",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1220,
        "wires": [
            [
                "1be0713a35721f50"
            ]
        ]
    },
    {
        "id": "1be0713a35721f50",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Min Charge Current",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.alw",
        "statusType": "auto",
        "x": 1210,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b93d780f594ed608",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "filter ama",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.ama",
        "topi": "topic",
        "x": 740,
        "y": 1280,
        "wires": [
            [
                "7cfc3161b94129d6"
            ]
        ]
    },
    {
        "id": "7cfc3161b94129d6",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Max Charge Current",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ama",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "maxChargeCurrent",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "miaxChargeCurrent",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1280,
        "wires": [
            [
                "7723ab2f109bc88b"
            ]
        ]
    },
    {
        "id": "7723ab2f109bc88b",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Max Charge Current",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.alw",
        "statusType": "auto",
        "x": 1220,
        "y": 1280,
        "wires": []
    },
    {
        "id": "5cfc6fd428f789b1",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "filter wh",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.wh",
        "topi": "topic",
        "x": 740,
        "y": 1340,
        "wires": [
            [
                "752ac87f802e6024"
            ]
        ]
    },
    {
        "id": "752ac87f802e6024",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Charge Amount Current Session",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.wh",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chargeAmount",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "chargeAmount",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 1340,
        "wires": [
            [
                "0e9d7a684dfa9036"
            ]
        ]
    },
    {
        "id": "0e9d7a684dfa9036",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Charge Amount Current Session",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.alw",
        "statusType": "auto",
        "x": 1250,
        "y": 1340,
        "wires": []
    },
    {
        "id": "623303aedb2f588b",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "filter eto",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.eto",
        "topi": "topic",
        "x": 740,
        "y": 1400,
        "wires": [
            [
                "5fb45ffd3ec01e77"
            ]
        ]
    },
    {
        "id": "5fb45ffd3ec01e77",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Total Charge Amount",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.eto",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "totalChargeAmount",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "totalChargeAmount",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1400,
        "wires": [
            [
                "7353d46058b45987"
            ]
        ]
    },
    {
        "id": "7353d46058b45987",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Total Charge Amount",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.alw",
        "statusType": "auto",
        "x": 1220,
        "y": 1400,
        "wires": []
    },
    {
        "id": "00e67779ea8b5e35",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "filter fsp",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.fsp",
        "topi": "topic",
        "x": 740,
        "y": 1460,
        "wires": [
            [
                "8ad8def1ad2a3c15"
            ]
        ]
    },
    {
        "id": "8ad8def1ad2a3c15",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Force Single Phase",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.fsp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "forceSinglePhase",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "forceSinglePhase",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1460,
        "wires": [
            [
                "9d5425e88089ad8b"
            ]
        ]
    },
    {
        "id": "9d5425e88089ad8b",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Force Single Phase",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.alw",
        "statusType": "auto",
        "x": 1210,
        "y": 1460,
        "wires": []
    },
    {
        "id": "85a3f1e9855674b5",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "filter frc",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.frc",
        "topi": "topic",
        "x": 740,
        "y": 1520,
        "wires": [
            [
                "0f4d35d90fa4e731"
            ]
        ]
    },
    {
        "id": "0f4d35d90fa4e731",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Force State",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.frc",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "forceState",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "forceState",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1520,
        "wires": [
            [
                "907191cad8a474c5"
            ]
        ]
    },
    {
        "id": "907191cad8a474c5",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Force State",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.alw",
        "statusType": "auto",
        "x": 1190,
        "y": 1520,
        "wires": []
    },
    {
        "id": "ccaa29ef0f792afb",
        "type": "switch",
        "z": "7f238379090da3b0",
        "name": "Switch Charge Mode",
        "property": "chargeMode",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fast",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "eco",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sun",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 480,
        "y": 2080,
        "wires": [
            [
                "f06466dbd95999cd"
            ],
            [
                "179082250b81fccf"
            ],
            [
                "308a9f7880b69489"
            ],
            [
                "0d533ef8ae0d6fb1"
            ]
        ]
    },
    {
        "id": "f06466dbd95999cd",
        "type": "switch",
        "z": "7f238379090da3b0",
        "name": "Chargy != 'off'?",
        "property": "forceState",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 720,
        "y": 2020,
        "wires": [
            [
                "0d07a958b387fbe2"
            ]
        ]
    },
    {
        "id": "179082250b81fccf",
        "type": "function",
        "z": "7f238379090da3b0",
        "name": "Enable Max Charging",
        "func": "let maxA = Math.min(msg.goe.ama, msg.goe.cbl);\nlet commands = {};\n\nif(msg.goe.fsp) {\n    commands.psm = 2;\n}\n\nif (msg.goe.amp != maxA) {\n    commands.amp = maxA;\n}\n\nif (Object.keys(commands).length > 0) {\n    return { payload: commands };\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 2040,
        "wires": [
            [
                "6ae7f2736aaaf72e"
            ]
        ]
    },
    {
        "id": "308a9f7880b69489",
        "type": "function",
        "z": "7f238379090da3b0",
        "name": "Calculate ECO Surplus",
        "func": "let propertyConsumption = msg.enphase.consumption - msg.goe.nrg[11];\nmsg.surplus = msg.enphase.production - Math.max(propertyConsumption, 0);\n\nlet now = new Date(msg.time);\nnode.status({ fill: \"green\", shape: \"ring\", text: \"Surplus = \" + msg.surplus.toFixed(1) + \" at \" + now.toLocaleString(\"de-DE\") });\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 2100,
        "wires": [
            [
                "42148edf51f20b50",
                "420b05a96c2315bd"
            ]
        ]
    },
    {
        "id": "0d533ef8ae0d6fb1",
        "type": "function",
        "z": "7f238379090da3b0",
        "name": "Calculate SUN Surplus",
        "func": "msg.surplus = msg.enphase.production;\n\nlet now = new Date(msg.time);\nnode.status({ fill: \"green\", shape: \"ring\", text: \"Surplus = \" + msg.surplus.toFixed(1) + \" at \" + now.toLocaleString(\"de-DE\") });\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 2160,
        "wires": [
            [
                "42148edf51f20b50",
                "420b05a96c2315bd"
            ]
        ]
    },
    {
        "id": "42148edf51f20b50",
        "type": "function",
        "z": "7f238379090da3b0",
        "name": "Charge Mode",
        "func": "let phases = msg.goe.nrg_pha === 0 ? msg.goe.pha : msg.goe.nrg_pha;\nlet maxA = Math.min(msg.goe.ama, msg.goe.cbl);\n\nlet commands = null;\nlet targetCurrent = 0;\n\nif(phases > 0) {\n    commands = {};\n    targetCurrent = Math.round(msg.surplus / phases / 230);\n    let clampedCurrent = Math.min(Math.max(targetCurrent, msg.goe.mca), maxA);\n    if(targetCurrent < msg.goe.mca && !msg.goe.fsp) {\n        commands.psm = 1;\n        targetCurrent = Math.round(msg.surplus / 230);\n        commands.amp = Math.max(targetCurrent, msg.goe.mca);\n        node.log(\"Step down to single phase\");\n    } else if(targetCurrent > maxA && msg.goe.fsp) {\n        commands.psm = 2;\n        // TODO: use some pre-tested count of charging phases from current session store within flow\n        targetCurrent = Math.round(msg.surplus / phases / 230);\n        commands.amp = Math.min(targetCurrent, maxA);\n        node.log(\"Step up to multi-phase\");\n    } else if (msg.goe.amp != clampedCurrent) {\n        commands.amp = clampedCurrent;\n        node.log(\"Change charge current\");\n    }\n}\n\nnode.status({ fill: \"green\", shape: \"ring\", text: \"Phases=\" + phases + \", Current=\" + targetCurrent });\n\nif (commands && Object.keys(commands).length > 0) {\n    return { payload: commands };\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 2160,
        "wires": [
            [
                "6ae7f2736aaaf72e"
            ]
        ]
    },
    {
        "id": "0d07a958b387fbe2",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Disable Charging",
        "rules": [
            {
                "t": "set",
                "p": "chargeMode",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 1960,
        "wires": [
            [
                "a88bc9fc9edb4e93"
            ]
        ]
    },
    {
        "id": "508ca3181197c560",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Enable Charging",
        "rules": [
            {
                "t": "set",
                "p": "chargeMode",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1900,
        "wires": [
            [
                "a88bc9fc9edb4e93"
            ]
        ]
    },
    {
        "id": "a88bc9fc9edb4e93",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Advise Charge Mode",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"frc\": msg.chargeMode}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1960,
        "wires": [
            [
                "6ae7f2736aaaf72e"
            ]
        ]
    },
    {
        "id": "2091764c50448087",
        "type": "switch",
        "z": "7f238379090da3b0",
        "name": "Car present?",
        "property": "carStatus",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 2000,
        "wires": [
            [
                "ccaa29ef0f792afb"
            ],
            []
        ]
    },
    {
        "id": "3cd9e6847116fc5f",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Car Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.car",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "carStatus",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "carStatus",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 800,
        "wires": [
            [
                "4d851e277cad6960"
            ]
        ]
    },
    {
        "id": "9b6ce1379e2490f7",
        "type": "join",
        "z": "7f238379090da3b0",
        "name": "Join",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 750,
        "y": 320,
        "wires": [
            [
                "304ba7103ba755d4"
            ]
        ]
    },
    {
        "id": "b4df3bea72f538e2",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Enphase Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "\"prod: \" & msg.enphase.production &\t\", cons: \" & msg.enphase.consumption",
        "statusType": "jsonata",
        "x": 520,
        "y": 480,
        "wires": []
    },
    {
        "id": "7c968632a94bf22e",
        "type": "split",
        "z": "7f238379090da3b0",
        "name": "Split by Key",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 540,
        "y": 240,
        "wires": [
            [
                "91ed212ad4b8811e"
            ]
        ]
    },
    {
        "id": "91ed212ad4b8811e",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Aggregate Phases",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$sum(msg.payload.*.p)",
                "tot": "jsonata"
            },
            {
                "t": "change",
                "p": "parts.key",
                "pt": "msg",
                "from": "production",
                "fromt": "str",
                "to": "production",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "parts.key",
                "pt": "msg",
                "from": "net-consumption",
                "fromt": "str",
                "to": "netConsumption",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "parts.key",
                "pt": "msg",
                "from": "total-consumption",
                "fromt": "str",
                "to": "consumption",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 240,
        "wires": [
            [
                "b9a616e09a519abb"
            ]
        ]
    },
    {
        "id": "469e636acdd78326",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Group events",
        "rules": [
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "enphase",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 320,
        "wires": [
            [
                "9b6ce1379e2490f7"
            ]
        ]
    },
    {
        "id": "304ba7103ba755d4",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Store to context",
        "rules": [
            {
                "t": "set",
                "p": "pvPower",
                "pt": "flow",
                "to": "payload.production",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "consumption",
                "pt": "flow",
                "to": "payload.consumption",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "enphase",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 320,
        "wires": [
            [
                "ded68cf96bd7ceae"
            ]
        ]
    },
    {
        "id": "ded68cf96bd7ceae",
        "type": "delay",
        "z": "7f238379090da3b0",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 220,
        "y": 440,
        "wires": [
            [
                "b4df3bea72f538e2",
                "512d67a351bbe98a",
                "2b59ae34bd5fe3d7"
            ]
        ]
    },
    {
        "id": "420b05a96c2315bd",
        "type": "debug",
        "z": "7f238379090da3b0",
        "name": "Inspect Go-E Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 2100,
        "wires": []
    },
    {
        "id": "2b59ae34bd5fe3d7",
        "type": "change",
        "z": "7f238379090da3b0",
        "name": "Set E-Go filter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{     \"filter\": \"alw,amp,fsp,frc,car,cbl,pha,ama,nrg,nrg,mca,wh,eto\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 700,
        "wires": [
            [
                "abeafa1098dbbe39"
            ]
        ]
    },
    {
        "id": "6ae7f2736aaaf72e",
        "type": "rbe",
        "z": "7f238379090da3b0",
        "name": "Payload updated?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1510,
        "y": 2080,
        "wires": [
            [
                "77c05377fc1ee1f2",
                "2ab4b97a56ab922d"
            ]
        ]
    }
]